<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:usesCleartextTraffic="true">
        <receiver
                android:name="to.sava.peranta.DebugConfigReceiver"
                android:exported="true"
                android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="to.sava.peranta.DEBUG_CONFIG"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name="to.sava.peranta.DebugEnvelopeReceiver"
                android:exported="true"
                android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="to.sava.peranta.DEBUG_ENVELOPE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
